.search-box{
    height: 30%;
    width: 300px;
    background-color: white;
    border-radius: 40;
    padding: 10px;
    border: 1px solid wheat;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: gray;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
}

.search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 100px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}