body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }
  h1 {
    text-align: center;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  input, textarea {
    width: 96%; /* 입력 필드 너비 조정 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none; /* 크기 조절 불가능 */
}

/* 숫자 입력 필드에서 화살표 제거 */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari, Chrome */
  appearance: none; /* 표준 속성 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* 기본 여백 제거 */
}


button {
  width: 100%; /* 버튼 너비를 100%로 설정 */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  }