<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.CalenderMapper">

 <!-- 일정 추가 -->
    <insert id="addEvent" parameterType="com.smhrd.Model.CalendarVO">
        INSERT INTO t_schedule (sche_title, sche_st_dt, sche_ed_dt)
        VALUES (#{sche_title}, #{sche_st_dt}, #{sche_ed_dt});
    </insert>

    <!-- 일정 조회 -->
    <select id="getAllEvents" resultType="com.smhrd.Model.CalendarVO">
        SELECT sche_title, sche_st_dt, sche_ed_dt
        FROM t_schedule;
    </select>

    <!-- 일정 삭제 -->
    <delete id="deleteEvent" parameterType="int">
        DELETE FROM t_schedule WHERE sche_idx = #{sche_idx};
    </delete>
    
    <!-- 일정 수정 -->
    <update id="updateEvent" parameterType="com.smhrd.Model.CalendarVO">
        UPDATE t_schedule
        SET sche_title = #{sche_title}, sche_st_dt = #{sche_st_dt}, sche_ed_dt = #{sche_ed_dt}
        WHERE sche_idx = #{sche_idx};
    </update>

</mapper>