<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMapper">
	<!-- MemberMapper.xml 파일은 DB를 실행하기 위해 SQL문장을 작성하는 파일 -->
	<!-- 사용자가 입력한 데이터를 SQL 문장에 연결하기 위해서 #{필드명} 사용하고,
		 실제 데이터는 MEMBER 클래스의 필드명을 기준으로 넣어준다! -->
		 
	<!-- 회원가입을 위한 쿼리문 -->
	<insert id="join" parameterType="com.smhrd.Model.MemberVO">
		INSERT INTO t_user VALUES(#{user_id},#{user_pw},#{user_email},#{user_tell})
	</insert>


	<!-- 로그인을 위한 쿼리문 -->
	<select id="login" parameterType="String" resultType="com.smhrd.Model.MemberVO">
		SELECT * FROM t_user WHERE USER_ID =#{user_id} and USER_PW =#{user_pw}
	</select>
	
	
	<!-- id중복검사를 위한 쿼리문 -->
	<select id="check" parameterType="String" resultType="com.smhrd.Model.MemberVO">
		SELECT * FROM t_user WHERE USER_ID =#{user_id}
	</select>	
	
	<!-- 회원 정보 수정 쿼리 -->
    <update id="update" parameterType="com.smhrd.Model.MemberVO">
        UPDATE t_user 
        SET USER_PW = #{user_pw}, 		  <!-- 비밀번호 수정 -->
            USER_EMAIL = #{user_email},   <!-- 이메일 수정 -->
            USER_TELL = #{user_tell}      <!-- 전화번호 수정 -->
        WHERE USER_ID = #{user_id}  	  <!-- 아이디로 회원을 찾고 수정 -->
    </update>
    
    <!-- 회원 탈퇴 쿼리 -->
    <delete id="delete" parameterType="com.smhrd.Model.MemberVO">
    DELETE FROM t_user
    WHERE USER_ID = #{user_id} AND USER_PW = #{user_pw};
	</delete>
    
</mapper>


