<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.OrderMapper">
	
	<!-- OrderController -->
    <!-- 의뢰 데이터 삽입 -->
    <insert id="insertOrder" parameterType="com.smhrd.Model.OrderVO">
        INSERT INTO t_service (
            svc_title, svc_content, svc_categori, svc_account, svc_ed_td, svc_id
        ) VALUES (
            #{svc_title}, #{svc_content}, #{svc_categori}, #{svc_account}, #{svc_ed_td}, #{svc_id}
        );
    </insert>

    <!-- t_user에서 user_id 존재 여부 확인 -->
    <select id="isUserExists" parameterType="String" resultType="String">
        SELECT user_id FROM t_user WHERE user_id = #{userId};
    </select>
    
    <!-- OrderListController -->
    <select id="getAllOrders" resultType="com.smhrd.Model.OrderVO">
    SELECT 
        svc_id AS svc_id, 
        svc_categori AS svc_categori, 
        svc_title AS svc_title, 
        svc_ed_td AS svc_ed_td, 
        svc_account AS svc_account
    FROM t_service;
	</select>
	
	<!-- OrderManageController -->
	<select id="getOrdersByUserId" parameterType="String" resultType="com.smhrd.Model.OrderVO">
	    SELECT 
	        svc_idx, svc_title, svc_content, svc_categori, svc_account, svc_ed_td, svc_id
	    FROM 
	        t_service
	    WHERE 
	        svc_id = #{userId};
	</select>
	
	<!-- OrderDeleteController -->
	<delete id="deleteOrder" parameterType="int">
	    DELETE FROM t_service WHERE svc_idx = #{svc_idx};
	</delete>
	
	<!-- OrderDetailController -->
	<select id="getOrderBySvcIdx" parameterType="int" resultType="com.smhrd.Model.OrderVO">
	    SELECT 
	        svc_idx, svc_title, svc_content, svc_categori, svc_account, svc_ed_td, svc_id
	    FROM 
	        t_service
	    WHERE 
	        svc_idx = #{svc_idx};
	</select>
	
		
		
    
</mapper>

