<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ProposalMapper">
	
	<!-- ProposalWriteController -->
    <!-- 제안 데이터 삽입 -->
    <insert id="insertProposal" parameterType="com.smhrd.Model.ProposalVO">
        INSERT INTO t_proposal 
        (prop_title, prop_content, prop_account, prop_ed_td, prop_tell, svc_idx, prop_id)
        VALUES 
        (#{prop_title}, #{prop_content}, #{prop_account}, #{prop_ed_td}, #{prop_tell}, #{svc_idx}, #{prop_id});
    </insert>
    
    <!-- ProposalBoxController -->
     <!-- 보낸 제안서 조회 -->
    <select id="getSentProposals" parameterType="string" resultType="com.smhrd.Model.ProposalVO">
        SELECT p.*, s.svc_id, s.svc_categori
        FROM t_proposal p
        JOIN t_service s ON p.svc_idx = s.svc_idx
        WHERE p.prop_id = #{user_id}
    </select>

    <!-- 받은 제안서 조회 -->
    <select id="getReceivedProposals" parameterType="map" resultType="com.smhrd.Model.ProposalVO">
	    SELECT p.*, s.svc_id, s.svc_categori
	    FROM t_proposal p
	    JOIN t_service s ON p.svc_idx = s.svc_idx
	    WHERE (#{svc_idx} = -1 OR p.svc_idx = #{svc_idx})
	      AND s.svc_id = #{user_id};
	</select>

    
</mapper>
