/* 전체 레이아웃 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    display: flex;
    margin-top: 70px; /* 헤더 높이만큼 여백 추가 */
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    height: 70px;
}
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header h1 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .header h1 a:hover {
    color: #007BFF;
  }
  
  .auth-buttons a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
  }
  
  .auth-buttons a:hover {
    color: #007BFF;
  }
  
  /* 사이드바 */
.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #007BFF;
    color: #fff;
}

.sidebar ul li a.active {
    font-weight: bold;
    color: #007BFF;
}
  /* 메인 콘텐츠 스타일 */
  .container {
    display: flex;
    margin-top: 70px; /* 헤더 높이 */
  }
  
  .main-content {
    flex: 1;
    margin-left: 20px; /* 사이드바 너비 */
    padding: 20px;
  }
  
  .main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* 테이블 스타일 */
  .detail-table {
    width: 50%;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .detail-table th,
  .detail-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .detail-table th {
    background-color: #f4f4f4;
    text-align: left;
    width: 20%;
  }
  
  .detail-table td {
    vertical-align: top;
  }
  
  /* 목록으로 돌아가기 버튼 */
  .back-button-container {
    text-align: right;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  